<!-- location-detail.component.html -->

<div class="p-6 rounded-lg shadow-md">
    <!-- row -->
    <div class="flex row mb-4">
        <button (click)="navigateBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="text-2xl font-bold mb-4">{{ location.name }}</h2>
    </div>

    <div class="flex flex-wrap -mx-2 mb-4">
        <div class="w-full md:w-1/2 px-2 mb-4">
            <p><strong>ID:</strong> {{ location.id }}</p>
            <p><strong>Type:</strong> {{ location.type }}</p>
            <p><strong>Dimension:</strong> {{ location.dimension }}</p>
            <p><strong>Residents:</strong></p>
            <ul>
                <li *ngFor="let resident of residents" class="mb-2">
                    <button mat-button (click)="navigateToCharacterDetail(resident.id)" routerLinkActive="router-link-active">{{ resident.name }}</button>
                </li>
            </ul>
            <p><strong>Created:</strong> {{ location.created }}</p>
        </div>
    </div>
    <p><strong>URL:</strong> <a href="{{ location.url }}" target="_blank">{{ location.url }}</a></p>
</div>
