@use '@angular/material' as mat;

// Tailwind customizations
@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();
@import '../src/themings';


$angular-prolog-primary: mat.define-palette($md-primary-palette);
$angular-prolog-accent: mat.define-palette($md-accent-palette);
$angular-prolog-warn: mat.define-palette($md-warn-palette);


$angular-prolog-theme: mat.define-light-theme((
  color: (
    primary: $angular-prolog-primary,
    accent: $angular-prolog-accent,
    warn: $angular-prolog-warn,
  )
));

@include mat.all-component-themes($angular-prolog-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*
* CLASSES
*/

.spacer {
  flex: 1 1 auto;
}